{% extends "parts/layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block filter_content %}
    {% include "./input_field.njk" %}  
{% endblock %}

{% block content %}
      <div class="primary-block">

            <h1 class="warning">Nenhuma receita encontrada com os parâmetros passados!</h1>

      </div> 

      <script src="scripts.js"></script>

{% endblock %}