{% extends "admin/layout2.njk" %}

{% block head %}
    <title>Criar receita</title>
{% endblock head %}

{% block content %}

    <form action="/admin/recipes" method="post">
        <div class="header-create">
            <div>
                <h1>Criando Receita</h1>
            </div>

            <div>
                <button type="submit">Salvar</button>
            </div>
        </div>

        {% include 'admin/fields.njk' %}

    </form>

    {# <script src="/scripts_admin.js"></script> #}

{% endblock content %}