{% extends "parts/layout_admin.njk" %}

{% block head %}
    <title>Nova Receita - Foodfy</title>
{% endblock head %}

{% block content %}

    <form action="/admin/recipes" method="post" enctype="multipart/form-data">

        <div class="create-container">
            <p>Criando receita</p>
            <button type="submit" onclick="Validate.allFields(event)">Salvar receita</button>
        </div>

        {% include 'admin/fields.njk' %}

    </form>

{% endblock content %}