{% extends "layout_admin.njk" %}

{% block head %}
    <title>Foodfy -> Editando receita: {{recipe.title}}</title>
{% endblock head %}

{% block content %}

    <form action="/admin/recipes?_method=PUT" method="post" enctype="multipart/form-data">

        <div class="create-container">
            <p>Editando receita</p>
            <div class="buttons-container">
                <button class="delete-button" type="subimt" form="form-delete">Deletar</button>
                <button type="submit">Salvar receita</button>
            </div>
            <input type="hidden" name="id" value={{recipe.id}}>
        </div>

        {% include 'admin/fields.njk' %}

    </form>

    <form id="form-delete" action="/admin/recipes?_method=DELETE" method="post">
        <input type="hidden" name="id" value={{ recipe.id }}>
    </form>

    {% include "../delete_confirm.njk" %}  

{% endblock content %}