<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Foodfy</title>
        {% endblock head %}

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/styles_admin.css">
    </head>

    <body>
        <header>
            <a href="/admin/recipes">Foodfy</a>
            <a href="/chefs/index">Chefs</a>
            <a href="/">Views</a>
        </header>

        <section class="block_body">
            {% block content %} {% endblock %}
        </section>

        <script src="/scripts.js"></script>
    </body>
</html>