{% extends "layout_admin.njk" %}



{% block content %}
      <div class="primary-block">

            <h1 class="warning">Nenhuma receita encontrada com os parâmetros passados!</h1>

      </div> 

      <script src="scripts.js"></script>

{% endblock %}