{% extends "admin/layout2.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock head %}

{% block content %}

    <div class="sub-title">
        <div>
            <h1>Gerenciar Receitas</h1>
        </div>
        <div>
            <form action="/admin/recipes" method="GET">
                <input 
                    type="text"
                    name="filter"
                    placeholder="Titulo da receita"
                    value={{filter}}
                >

                <button type="submit">Filtrar</button>
            </form>
        </div>
        <div>
            <a href="/admin/recipes/create">Novo</a>
        </div>
    </div>

    <section class="cards">
        {% for recipe in recipes %}
            <div class="card">
                <div class="card-image-container">
                    <img 
                            src="{{recipe.src}}" 
                            alt="{{recipe.name}}"
                            onclick="Lightbox.open()"
                        >
                </div>
                <div class="card-text">
                    <div class="card-content">
                        <p>{{recipe.title}}</p>
                    </div>

                    <div class="card-info">
                        {% for chef in chefs %}
                            {% if chef.id == recipe.chef_id %}
                                <p>por {{chef.name}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>                    

                    <div>
                        {# <a href="/receitas/{{recipe.id}}" class="view-recipe">Visualizar</a> #}
                        <a href="/admin/recipes/{{recipe.id}}" class="view-recipe">Visualizar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

    <div 
            class="pagination" 
            data-page={{pagination.page}} 
            data-total={{pagination.total}} 
            data-filter={{filter}}
            ></div>

    <script>
        function paginate(selectedPage, totalPages) {
            let pages = [],
                oldPage

            for (let currentPage = 1; currentPage <= totalPages; currentPage++) {

                const firstAndLastPage = currentPage == 1 || currentPage == totalPages
                const pagesAfterSelectedPage = currentPage <= selectedPage + 2
                const pagesBeforeSelectedPage = currentPage >= selectedPage - 2

                if (firstAndLastPage || pagesBeforeSelectedPage && pagesAfterSelectedPage) {

                    if (oldPage && currentPage - oldPage > 2) {
                        pages.push("...")
                    }

                    if (oldPage && currentPage - oldPage == 2) {
                        pages.push(oldPage + 1)
                    }

                    pages.push(currentPage)
                    oldPage = currentPage
                }
            }

            return pages
        }

        function createPagination(pagination) {
            const filter = pagination.dataset.filter
            const page = + pagination.dataset.page
            const total = + pagination.dataset.total
            const pages = paginate(page, total)

            let elements = ""

            for (let page of pages) {
                if (String(page).includes('...')) {
                    elements += `<span>${page}</span>`
                } else {
                    if (filter) {
                        elements += `<a href="?page=${page}&filter=${filter}">${page}</a>`
                    } else {
                        elements += `<a href="?page=${page}">${page}</a>`
                    }
                }
            }

            pagination.innerHTML = elements
        }

        const pagination = document.querySelector(".pagination")

        if (pagination) {
            createPagination(pagination)
        }
    </script>

{% endblock %}