{% extends "layout_admin.njk" %}

{% block head %}
    <title>Novo Chef - Foodfy</title>
{% endblock head %}

{% block content %}

    <form action="/chefs" method="post" enctype="multipart/form-data">

        <div class="create-container">
            <p>Criando chef</p>
            <button type="submit">Salvar chef</button>
        </div>

        {% include 'chefs/fields.njk' %}

    </form>

{% endblock content %}