{% extends "parts/layout_admin.njk" %}

{% block head %}
    <title>Foodfy -> Editando chef: {{chef.name}}</title>
{% endblock head %}

{% block content %}

    <form action="/chefs?_method=PUT" method="post" enctype="multipart/form-data">

        <div class="create-container">
            <p>Editando chef</p>
            <div class="buttons-container">
                <button class="delete-button" type="submit" form="form-delete">Deletar</button>
                <button type="submit">Salvar chef</button>
            </div>
            <input type="hidden" name="id" value={{chef.id}}>
        </div>

        {% include 'chefs/fields.njk' %}

    </form>

    <form id="form-delete" action="/chefs?_method=DELETE" method="post">
        <input type="hidden" name="id" value={{ chef.id }}>
    </form>

    <input type="hidden" name="total_recipes" id="total_recipes" value={{chef.total_recipes}}>

    {# {% include "../delete_confirm.njk" %}   #}
    {% include "./delete_confirm_chef.njk" %}  

{% endblock content %}