<div class="item">
    <div class="title-line">Nome</div>
    <div>
        <input type="text" name="name" class="input-some-text" value="{{chef.name}}" placeholder="Nome do chef">
    </div>
</div>

<div class="item">
    <div class="title-line">Avatar</div>
    <div>    
        <div id="photos-preview" class="photos-preview-chefs-unique">
            {% if files %}
                <div class="photo" id="{{files.id}}">
                    <img src="{{files.src}}" alt="{{files.name}}">
                    <i class="material-icons"
                        onclick="PhotosUpload.removeOldPhoto(event)"
                    >close</i>
                </div>
                <input type="hidden" name="removed_files">
            {% endif %}
        </div>    
        <div class="photos-upload-chefs">
            <input 
                id="photos-input-chefs"
                class="photos-input-chefs"
                type="file" 
                name="photos" 
                multiple
                accept="image/*"
                onchange="PhotosUpload.handleFileInput(event, 1)"
            >
            <p>Enviar Avatar</p>
        </div>

    </div>
    
</div>

