{% extends "layout_admin.njk" %}

{% block filter_field_admin %}
    <form class="filter_container_admin" action="/chefs" method="GET">
        <input 
            type="text"
            name="filter"
            placeholder="Nome do chef"
            value={{filter}}
        >
        <button type="submit">Filtrar</button>
    </form>
{% endblock %}

{% block content %}

    <div class="index-head-container">
        <p>Gerenciar Chefs</p>
        <div class="button_father">
            <div class="button_child">
                <a href="/chefs/create">Novo</a>
            </div>
        </div>
    </div>

    <section class="cards-chefs">
        {% for chef in chefs %}
            <div class="card-chef">
                <div class="card-image-container-chef">
                        <img src="{{chef.avatar_url}}" alt="imagem de {{chef.name}}">
                </div>

                <div class="card-text-chef">
                    
                    <div class="card-content-chef">
                        <p>{{chef.name}}</p>
                    </div>

                    <div>
                        <a href="/chefs/{{chef.id}}" class="view-chef">Visualizar</a>
                    </div>
                                       
                </div>  
            </div>

        {% endfor %}
    </section>

    <div class="pagination"
        data-page={{pagination.page}}
        data-total={{pagination.total}}
        data-filter={{filter}}
    ></div>
    
    {% include "../pagination.njk" %}

{% endblock content %}