<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">

    </head>

    <body>

        <header class="links">
            <div><a href="/chefs/index">Foodfy</a></div>
            {# <div><a href="/sobre">Sobre</a></div> #}
            <div><a href="/admin/recipes">Receitas</a></div>
            <div><a href="/chefs/index">Chefs</a></div>
            <div><a href="/">Views</a></div>
        </header>

        <section class="principal-class-chefs">
            {% block content %}{% endblock %}
        </section>        

        {# <footer class="rodape">Todos os direitos reservados</footer> #}
    </body>
</html>