{% extends "chefs/layout2.njk" %}

{% block head %}
    <title>Chef - {{chef.name}}</title>
{% endblock head %}

{% block content %}
<div class="show-chef-block">

        <div class="header-show-chef">
            <div class="chef-name">
                <div>Chef: {{chef.name}}</div>
            </div>

            <div>        
                <a href="/chefs/{{ chef.id }}/edit" class="button">Editar</a>
            </div>
        </div> 

        <div class="avatar">
            <img src="{{chef.avatar_url}}" alt="imagem de {{chef.name}}">
        </div>

        <div class="chef-name-2">
            <div>{{chef.name}}</div>
        </div>

        <div class="chef-inital-date">
            <div>Desde: {{ chef.created_at }}</div>
        </div>

        <div class="chef-recipes-qtd">
            <div>{{ chef.total_recipes }} Receitas</div>
        </div>

    <section class="cards-show-chef">
        {% for recipe in recipes %}
            <div class="card-show-chef">
                <div class="card-image-container-show-chef">
                    <img src="{{recipe.image}}" alt="imagem de {{recipe.title}}">
                </div>
                <div class="card-text-show-chef">
                    <div class="card-content-show-chef">
                        <p>{{recipe.title}}</p>
                    </div>
                    
                    <div>
                        <a href="/admin/recipes/{{recipe.id}}" class="view-recipe">Visualizar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>    
            
</div>


{% endblock content %}