:root {
    --primary-color: #6558c3;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.primary-block,
.header-block {
    margin: 0 auto auto auto;
    width: 940px;
}

.header-block {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
}

/* =============== HEADER ========== */
.links {
    margin-top: 36.1px;
}

.links a {
    text-decoration: none;
    color: #111111;
}

.links a:nth-child(1){
    padding-right: 122.4px;
    font-size: 24px;
    line-height: 34px;
    font-family: serif;
    font-weight: normal;
}

.links a:nth-child(2),
.links a:nth-child(3),
.links a:nth-child(4) {
    padding-right: 30px;
}

header .links a.active_3 {
    font-weight: bold;
}

/*=======Presentation==============*/
.presentation {
    background-color: #fbdfdb;
    max-width: 940px;
    height: 366px;
    border-radius: 30px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text {
    margin-left: 60px;
    padding-top: 117px;
}

.text01 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #111111;
}

.text02 {
    max-width: 316px;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    text-align: justify;
}

.image {
    margin: auto auto 0 auto;
}
/*==============Text03==================*/
.text03 {
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 20px;
}

/*========CARDS=============*/
.cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}

.cards_admin {
    margin: 30px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    width: 300px;
    margin-bottom: 30px;
}

.card_admin {
    display: grid;
    grid-template-columns: 192px 1fr;
}

.card_admin .image-container-admin img {
    width: 172px;
    height: 80px;
    border-radius: 8.57px;
}

.card_admin .title-container p {
    font-size: 18px;
    color: #111;
}

.card_admin .author-container p {
    font-size: 14px;
    color: #777;
}

.link-visualization {
    margin-top: 10px;
}

.link-visualization a {
    text-decoration: none;
    color: #6558C3;
    font-weight: bold;
    font-size: 14px;
}

.image-container img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.title-container {
    color: #111111;
    font-size: 18px;
    margin-bottom: 5px;
}

.author-container {
    color: #777;
    font-size: 14px;
}
/* =============== FOOTER ========== */
footer {
    margin-top: auto;
    text-align: center;
    height: 62px;
    background-color: #eeeeee;
    align-items: center;

}

footer div p {
    font-size: 14px;
    color: #999999;
    margin-top: 23px;
}


/*==========MODAL===========*/
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 660px;
    height: 413px;
    margin: 125px auto;
    background-color: #fff;
    border-radius: 16px;
}

.modal img {
    width: 600px;
    height: 200px;
    border-radius: 15px;
    margin: 30px 30px auto 30px;
}

.description{
    color: #111111;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

.name{
    color: #777;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 60px;
}

.modal .close-modal {
    text-align: center;
    color: #999999;
    font-size: 16px;
    cursor: pointer;
}

/*====modal active====*/
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

/*======About page=====*/
.about-container {
    margin-bottom: 50px;
}

.about-container div:nth-child(1){
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    margin-top: 50px;
}

.about-container div:nth-child(2),
.about-container div:nth-child(4),
.about-container div:nth-child(6) {
    font-size: 18px;
    color: #444444;
    margin-top: 20px;
    text-align: justify;
}

.about-container div:nth-child(3),
.about-container div:nth-child(5) {
    font-size: 20px;
    font-weight: bold;
    color: #111111;
    margin-top: 30px;
}

/*===Recipes - Cards2 ====*/
.cards2 {
    margin-top: 50px;
}

/*======view recipes==========*/
.recipeView {
    margin: 0;
    margin: 50px auto;
}

.image-view-container img {
    max-width: 940px;
    height: 280px;
    border-radius: 15px;
    margin-bottom: 8px;
}

.view-recipe-visitors-image-view-container img {
    width: 940px;
    object-fit: fill;
}

.view-title {
    max-width: 940px;
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: 4px;
    color: #111;
}

.view-author {
    margin: 0;
    max-width: 940px;
    text-align: center;
    font-size: 20px;
    color: #777;
    margin-bottom: 50px;
}

.view-author-first {
    margin-bottom: 4px;
}

.sub-title {
    margin: 0;
    margin-bottom: 20px; 
    max-width: 940px;
    align-items: baseline;  
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.sub-title.st1 {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sub-title.st2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sub-title_0 {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    margin-right: 8px;
}

.sub-title_1 {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    color: #999;
    cursor: pointer;
}

.sub-title.st3 {
    margin-bottom: 50px;
}

.ingredients-block,
.prepare-block,
.information-block {
    max-width: 940px;
    margin: 0;
    font-size: 18px;
    color: #444;
    margin-bottom: 39px;
    display: none;
}

.active {
    display: block;
}

/* ADMIN LAYOUT */
.admin_header_primary {
    display: grid;
    grid-template-columns: 1fr 940px 1fr;
    background-color: #111;
    align-items: center;
}

.admin_header_primary .out {
    justify-self: end;
    margin-right: 50px;
}

.admin_header_primary .out form button {
    height: 80px;
    background-color: #111;
    cursor: pointer;
    font-family: Helvetica;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.admin_header_0 {
    background-color: #111;
    height: 80px;
}

.admin_header_1 {
    align-items: center; 
    max-width: 940px;
    /* margin-left: 231px; */
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    padding-top: 22px;
}

.admin_header_1 .admin_header_2 {
    display: grid;
    grid-template-columns: 141px 99px 81px 1fr;
    align-items: center;

}

.admin_header_1 h1 {
    padding-top: 0px;
}

.admin_header_1 h1 a {
    color: #fff;
    text-decoration: none;
    font-family: serif;
    font-weight: normal;
}

.admin_header_1 .admin_header_2 h2 a {
    font-size: 15px;
    color: #999;
    font-weight: bold;
    text-decoration: none;
}

.admin_header_1 .admin_header_2 h2 a.active_2 {
    font-weight: bold;
    color: #fff;
}

.admin-primary-block {
    margin: 0 auto;
    width: 940px;
}

/* === filtro admin recipes e chefs === */
.filter_container_admin {
    display: grid;
    grid-template-columns: 1fr 91px;
}

.filter_container_admin input {
    justify-self: end;
    margin-right: 8px;
    border-radius: 4px;
    padding-left: 15px;
    width: 246px;
    border: 1px solid #777;
    font-size: 18px;
}

.filter_container_admin input::placeholder {
    font-size: 14px;
    color: #999;
}

.filter_container_admin button {
    height: 37px;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
}
/*===========*/

/* ======= CREATE ======= */
.create-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.create-container p {
    font-size: 24px;
    font-weight: bold;
    color: #111;
}

.create-container button {
    background-color: var(--primary-color);
    width: 139px;
    height: 37px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    justify-self: right;
}


/* ======= Fields ======= */
.item {
    margin-top: 30px;
}

.item .title-line {
    font-weight: bold;
    font-size: 16px;
    color: #111;
}

.item input,
.item select {
    margin-top: 10px;
    width: 100%;
    height: 49px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    font-weight: normal;
    color: #555;
    padding-left: 20px;
    /* padding: 18px 20px; */
    box-sizing: border-box;
}

.item select {
    width: 940px;
}

.add-step,
.add-ingredient {
    margin-top: 15px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    background-color: white;
}

form .item textarea {
    width: 898px;
    height: 257px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    font-weight: normal;
    color: #555;
    padding: 18px 20px;
}

input::placeholder {
    font-size: 14px;
    font-weight: normal;
    color: #999;
}

/* ======= EDIT ======= */
.buttons-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 139px;
}

.buttons-container button:nth-child(1) {
    background-color: #dc4747;
    margin-right: 10px;
    max-width: 92px;
}

/* ======= View Recipe ======= */
.view_recipe_head {
    display: grid;
    grid-template-columns: 1fr 136px;
    margin-top: 50px;
    margin-bottom: 20px;
    align-items: center;
}

.view_recipe_head h2 {
    color: #111;
    font-weight: bold;
    font-size: 24px;
}

.view_recipe_head > a {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
}

.sub-title-view-recipe {
    color: #111;
    font-size: 24px;
    font-weight: bold;
    margin-top: 31px;
    margin-bottom: 19px;
}

.content-view-recipe {
    max-width: 940px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 28px;
    color: #444;
    font-weight: normal;
}

.content-view-recipe li {
    list-style-type: '- ';
}

#last {
    margin-bottom: 60px;
}

/* ======= INDEX ========= */
.index-head-container {
    font-size: 24px;
    font-weight: bold;
    color: #111;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 139px;
    align-items: center;
}

/* --- INDEX - Botão Novo --- */
.button_father {
    display: table;
    width: 139px;
    height: 37px;
    background-color: var(--primary-color);
    border-radius: 4px;
    box-sizing: border-box;
}

.button_child {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.button_child a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* CHEFS view_chef */
.image-view-container-chef img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.recipe-info-title {
    font-size: 24px;
    font-weight: bold;
    color: #111;
    margin-bottom: 30px;
}

/* === cards show chef === */
.cards-show-chef {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
}

.card-show-chef {
    max-width: 100%;
    display: grid;
    grid-template-columns: 192px 1fr;
    margin-bottom: 25px;
}

.card-image-container-show-chef img {
    max-width: 172px;
    max-height: 80px;
    border-radius: 8.57px;
}

.card-text-show-chef {
    margin: 0;
    margin-left: 5px;
}

.card-content-show-chef p {
    margin: 0;
    color: #111;
    font-size: 18px;
    margin-bottom: 5px;
}

.card-info-show-chef {
    color: #777;
    font-size: 14px;
    margin-bottom: 5px;
}

.view-recipe {
    color: #6558c3;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 5px;
}

.card-text-show-chef-2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #777;
    margin-bottom: 5px;
}

/* INDEX CHEFS */
.cards-chefs {
    margin-top: 50px;
    max-width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 30px;
}

.card-chef {
    display: grid;
    grid-template-columns: 84px 1fr;
    margin-bottom: 30px;
}

.card-chef .card-image-container-chef img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.card-chef .card-text-chef {
    padding-top: 9px;
    margin-right: 10px;
    display: grid;
    grid-template-rows: 1fr 24px;
}

.card-chef .card-text-chef .card-content-chef {
    font-weight: normal;
    font-size: 18px;
    color: #111;
}

.card-chef .card-text-chef a {
    font-weight: bold;
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
    padding-bottom: 8px;
}

/* ==== Users Chefs ==== */
.card-text-chef div:last-child {
    color: #666;
    font-size: 14px;
    font-weight: normal;
}

/*===Filter===*/
.filter_container {
    display: grid;
    grid-template-columns: 1fr 91px;
    margin-top: 36.1px;
}

.filter_container button {
    height: 37px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
}

.filter_container input {
    margin-right: 8px;
    justify-self: end;
    width: 246px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
    padding-left: 15px;
}

.filter_container input::placeholder {
    font-size: 14px;
    color: #999;
}

/* Not found page */
.warning {
    color: red;
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
}

/* PAGINTAION */
/* .primary-block  */
.pagination {
    margin-top: 50px;
    align-self: end;
    justify-self: center;
    margin-bottom: 30px;
}

.pagination a,
.pagination span {
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 16px;
}

.pagination a:hover {
    filter: brightness(0.3);
    border-bottom: 1px solid var(--primary-color);
}

/* Photos Upload */
form .item #photos-upload {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 149px;
    height: 149px;
    border: 1px solid #ddd;
    margin-right: 8px;
}

form .item #photos-upload i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-weight: bold;
    cursor: pointer;
    z-index: -1;
}

form .item #photos-upload.photos-upload-class i {
    z-index: initial;
    color: rgba(0, 0, 0, 0.3);
}

form .item #photos-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

form .item #photos-preview {
    display: block;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 8px;
    width: 100%;

    margin: 8px 0;
}

form .item #photos-preview .photo {
    display: inline-block;
    width: 149px;
    height: 149px;
    margin-right: 8px;
}

form .item #photos-preview img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#photos-preview .photo {
    position: relative;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: red;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    cursor: pointer;
    transition: opacity 200ms;
    opacity: 0;
}

#photos-preview .photo:hover i {
    opacity: 1;
}

/* SHOW */
.image-view-container .highlight img {
    width: 100%;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
}

.image-view-container .highlight .lightbox-target {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    z-index: 100;
    top: -100;
    left: 0;
    opacity: 0;
    transition: 400ms;
}

.image-view-container .highlight .lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.image-view-container .highlight .lightbox-target a.lightbox-close {
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    top: -80px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms;
    text-decoration: none;
}

.image-view-container .gallery-preview {
    display: flex;
    justify-content: flex-end;
}

.image-view-container .gallery-preview img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    opacity: 0.6;
    cursor: pointer;
    justify-content: end;
    margin-right: 10px;
    border-radius: 3.5px;
}

.image-view-container .gallery-preview img:last-child {
    margin-right: 0px;
}

.image-view-container .gallery-preview img:hover,
.image-view-container .gallery-preview img.active {
    opacity: 1;
    transition: 200ms;
} 

/**/
.image-view-container .gallery-preview {
    width: 940px;
}

/* photos upload chefs */
.photos-upload-chefs {
    position: relative;
    display: block;
    overflow: hidden;
    width: 200px;
}

.photos-upload-chefs p {
    margin-top: 10px;
    width: 139px;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 2px -6px #333;
    background-color: var(--primary-color);
    color: white;
    /* width: 100%; */
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}
#photos-input-chefs {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
}