.reset-fields {
    width: 940px;
    text-align: center;
    margin-top: 50px;
}

.reset-fields p {
    font-family: helvetica;
    font-weight: bold;
    font-size: 24px;
    color: #111;
}

.fields-password-reset,
.reset-button {
    width: 500px;
    margin: 0 auto;
}

.fields-password-reset .title-line {
    color: #111;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 16px;
}

.reset-button {
    margin-top: 35px;
    position: relative;
}

.reset-button button {
    position: absolute;
    right: 0px;
    width: 134px;
    height: 37px;
    background-color: var(--primary-color);
    border-radius: 4px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}