.order-success {
    padding: 0;
    padding-bottom: 112px;
    
    text-align: center;
    
    margin: auto;
    margin-top: 60px;
}

.order-success a {
    color: red;
}

.order-success .success-lottie {
    height: 50px;
    margin-top: 80px 0 56px;
}