{% extends "parts/layout.njk" %}

{% block filter_content %}
    {% include "./input_field.njk" %}  
{% endblock %}

{% block content %}

      <div class="primary-block">

        <div class="presentation">
            <div class="text">
                <div class="text01">
                    <p>As melhores receitas</p>
                </div>

                <div class="text02">
                    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
                </div>
            </div>

            <div class="image">
                <img src="images/chef.png" alt="Chef Foodfy">
            </div>
        </div>

        <div class="text03">Mais acessadas</div>

        <section class="cards">
            {% for recipe in recipes %}
                <div class="card" id="{{recipe.id}}">
                    <div class="image-container">
                        <img src="{{recipe.file.src}}" alt="imagem de {{recipe.title}}">
                    </div>

                    <div class="title-container">
                        <p>{{recipe.title}}</p>
                    </div>

                    <div class="author-container">
                        {% for chef in chefs %}
                            {% if chef.id == recipe.chef_id %}
                                <p>por {{chef.name}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

        </section>


        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>      
      </div>


      <script src="scripts.js"></script>
    {% include "../parts/pagination.njk" %}

{% endblock %}