<script>
    function deleteConfirm(){
        const confirmation = confirm('Tem certeza que deseja deletar este usuário?')

        if(!confirmation) {
            event.preventDefault()
        }
    }
</script>