<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
        
        {% include "./styles.njk" %}

    </head>

    <body>
        {% include "./messages.njk" %}
        
        <div class="header-block">
            <header>
                <div class="links">
                <a href="/">Foodfy</a>
                <a href="/about">Sobre</a>
                <a href="/recipes">Receitas</a>
                <a href="/all_chefs_views">Chefs</a>
                <a href="/admin/login">Login</a>
                </div>
            </header>

            <div>
                {% block filter_content %}{% endblock %}
            </div>
        </div>

        {% block content %}{% endblock %}

        <footer>
            <div>
                <p>Todos os direitos reservados. Receitas Foodfy.</p>
            </div>
        </footer>

    </body>

    {% include "./selection-active.njk" %}  

</html>