<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
        
        {% include "./styles.njk" %}

    </head>

    <body>
        {% include "./messages.njk" %}

        <div class="admin_header_primary">
            <div></div>
            <header class="admin_header_0">
                <div class="admin_header_1">
                    <div class="admin_header_2 admin-layout-users">
                        <h1><a href="/">Foodfy</a></h1>
                        <h2><a href="/admin/recipes">RECEITAS</a></h2>
                        <h2><a href="/chefs">CHEFS</a></h2>
                        <h2><a href="/admin/users">USUÁRIOS</a></h2>
                    </div>

                    <div>
                        {% block filter_field_admin %}{% endblock %}                    
                    </div>                
                </div>
            </header>
            <div class="out">
                {# <a href="/admin/logout">sair</a> #}
                <form action="/admin/logout" method="POST">
                    <button>Sair</button>
                </form>
            </div>
        </div>

        <div class="admin-primary-block">
            {% block content %}{% endblock %}
        </div>

    </body>

    {% include "./selection-active.njk" %}  

    <script src="/scripts.js"></script>
</html>